{{!  mostrar todos los productos en tiempo real  }}

<h1>Mis Productos</h1>

<form id="productForm" action="submit" method="post">
  <input
    type="text"
    id="productTitle"
    name="title"
    placeholder="Título"
    required
  />
  <input
    type="text"
    id="productDescription"
    placeholder="Descripción"
    name="description"
    required
  />
  <input
    type="text"
    id="productCode"
    name="code"
    placeholder="Código"
    required
  />
  <input
    type="number"
    id="productStock"
    name="stock"
    placeholder="Stock"
    required
  />
  <input
    type="text"
    id="productCategory"
    name="category"
    placeholder="Categoría"
    required
  />
  <input
    type="number"
    id="productPrice"
    name="price"
    placeholder="Precio"
    required
  />
  <button type="submit">Crear Producto</button>
</form>
<div id="containerAddProducts"></div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>

<script src="js/main.js"></script>