{{!-- aqui se tiene que mostrar todos los productos en tiempo real  --}}


<h1>Mis productos</h1>

<div id="containerProducts"></div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>

<script src="js/main.js"></script> 